.locations-section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.city-section {
  margin-bottom: 120px;
}
.city-section-wrapper {
  display: flex;
  align-items: center;
}
.city-section-title {
  width: 351px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
}
.city-section-desc {
  width: 445px;
  margin: 0;
  margin-right: 105px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}
